body{
    background-size: cover;
    opacity: initial;
  }
    
  .container {
    display: flex;
    margin-left: 15px;
    padding-top: 15px;
    justify-content: center;
    margin-bottom: 15px;
  }
  
    .container-left {
      float: left;
      margin-right: 20px;
    }
  
  
    body {
      padding-bottom: 30px;
      position: relative;
      min-height: 100%;
    }

    .titulo {
      display: flex;
      margin-left: 15px;
      padding-top: 15px;
      justify-content: center;
    }

    table{
      opacity: 0.9;
    }
    
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }